
.app {
  margin: 40px auto 0;
}

@media (min-width: 1320px) {
  .app {
    width: 1320px;
  }
}

@media (min-width: 960px) and (max-width: 1319px) {
  .app {
    width: 960px;
  }
}

@media (min-width: 780px) and (max-width: 959px) {
  .app {
    width: 780px;
  }
}

@media (max-width: 771px) {
  .app {
    width: 100%;
  }
}